<?xml version="1.0" encoding="UTF-8"?>
<display-name>website1</display-name>


-<welcome-file-list>

<welcome-file>home.html</welcome-file>

</welcome-file-list>


-<servlet>

<servlet-name>customerinput</servlet-name>

<servlet-class>servelet.customerinput</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>customerinput</servlet-name>

<url-pattern>/customerinput</url-pattern>

</servlet-mapping>

</web-app>